.catalogue-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.catalogue-card {
    padding: 2rem;
}

.filter-header {
    text-align: center;
    background-color: gray;
    padding: 2rem;
}

button {
    margin-left: 1rem;
    margin-right: 1rem;
}